<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title> <%= Title %> </title>

    <style>
        body {
            background: rgb(8, 28, 34);
            margin: 0;
            padding: 0;
            height: 100vh;
            font-family: 'Open Sans', sans-serif;
        }

        img {
            width: 35%;
        }

        .container {
            height: 100vh;
            display: flex;
            flex-direction: column;
            gap: 30px;
            align-items: center;
            justify-content: center;
        }

        h1 {
            color: rgb(233, 238, 245);
            font-size: 20px;
            padding: 20px;
        }

        button {
            padding: 13px 30px;
            border-radius: 15px;
            border: none;
            background: #4099ff;
            color: white;
            cursor: pointer;
            font-size: 18px;
        }

        @media screen and (max-width:630px) {
            h1 {
                font-size: 16px;
            }
        }
    </style>

</head>

<body>

    <div class="container">
        <% if(Title === "Error") { %>
            <img src="Img/ERROR.svg" alt="">
            <h1>Oops! <br> Something went wrong :(</h1>
        <% } %>

        <% if(Title === "Error 404") { %>
            <img src="Img/Error-404.svg" alt="">
            <h1>Oops! <br> Something went wrong :(</h1>
        <% } %>

        <% if(Title === "Permission") { %>
            <img src="Img/Permission.svg" alt="">
            <h1 style="direction: rtl;">للاسف! <br> هذه الصلاحية ليست لك :(</h1>
        <% } %>

        <div class="boton">
            <button onclick="location.href = 'Home'">Go Home</button>
        </div>
    </div>

</body>

</html>