<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="img/Logo.png" />
    <link rel="stylesheet" href="Css/Login.css">
    <link rel="stylesheet" href="Css/Toast.css">
    <title>
        <%= Title %>
    </title>
</head>

<body>

    <form class="login-form">
        <div class="HeaderStep">
            <h1 class="login-title">Login</h1>
            <i href="#" class="layout-logo">
                <img src="Img/Logo.png" alt="" srcset="">
                <div class="logo-text" style="color: #fff;">MODERN</div>
            </i>
        </div>

        <div class="input-box">
            <input type="email" class="Email" placeholder="Email">
            <i class='bx bxs-user'></i>
        </div>

        <div class="input-box">
            <input type="password" class="Password" placeholder="Password">
            <i class='bx bxs-lock-alt'></i>
            <span class='bx bx-eye'></span>
        </div>

        <div class="remember-forgot-box">
            <label for="remember">
                <!-- <input type="checkbox" id="remember">
                Remember me -->
            </label>
            <a href="ForgotPassword">Forgot Password?</a>
        </div>

        <button type="button" class="login-btn" onclick="Login()">Login</button>

        <p class="register">
            Don't have an account?
            <a href="Register">Register</a>
        </p>

    </form>
    <div class="Toasts"></div>

    <script src="Js/0-Auth.js"></script>

</body>

</html>