<div class="Details-Company">
    <div>
        <h1 class="NameCompany"></h1>
        <h4 class="TypeCompany"></h4>
        <div class="Row grid-2">
            <h4 class="AddressCompany"><i class='bx bx-location-plus'></i><span></span></h4>
            <h4 class="PhoneCompany"><i class='bx bx-phone'></i><span></span></h4>
        </div>
    </div>
    <img class="Logo">
</div>