    <div class="Alert-container">
        <div class="overlow"></div>
        <div class="Alert">
            <div class="Alert-text">
                <img src="Img/Exclamation.png" alt="" width="80" height="80">
                <div>
                    <h3>حذف البيانات</h3>
                    <h5>هل انت متأكد انك تريد حذف البيانات ؟</h5>
                </div>
            </div>
            <div class="Form-footer" id="Alert">
                <button type="button" onclick="DeleteData(id)" class="btn btn-Delete">حذف
                    البيانات</button>
                <button type="button" onclick="Hide_Container()" class="btn btn-Cancel">الغاء</button>
            </div>
        </div>
    </div>
    <div class="Toasts"></div>

</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.js"
    integrity="sha512-8Z5++K1rB3U+USaLKG6oO8uWWBhdYsM3hmdirnOEWp8h2B1aOikj5zBzlXs8QOrvY9OxEnD2QDkbSKKpfqcIWw=="
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/linways/table-to-excel@v1.0.4/dist/tableToExcel.js"></script>

<script src="Js/1-Main.js"></script>
<script src="Js/2-Notifications.js"></script>
