<div class="input-box">
    <input type="text" class="SDate" onchange="Search()" onfocus="(this.type='date')" onblur="(this.type='text')"
        required>
    <label>من تاريخ</label>
    <i class="bx bx-search"></i>
    <span class='bx bx-calendar'></span>
</div>
<div class="input-box">
    <input type="text" class="EDate" onchange="Search()" onfocus="(this.type='date')" onblur="(this.type='text')"
        required>
    <label>الي تاريخ</label>
    <i class="bx bx-search"></i>
    <span class='bx bx-calendar'></span>
</div>