* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --Primary: #0284c7;
    --Primary-Linear: linear-gradient(90deg, var(--Primary) 0%, #009be9 100%);
    --Primary-Linear-Hover: linear-gradient(270deg, var(--Primary) 30%, #009be9 100%);

    --Blue: #0075af;
    --Blue-Linear: linear-gradient(90deg, var(--Blue) 0%, #0369a1 100%);
    --Blue-Linear-Hover: linear-gradient(270deg, var(--Blue) 30%, #0369a1 100%);

    --Cyan: #4099ff;
    --Cyan-Linear: linear-gradient(270deg, var(--Cyan) 0%, #65adff 100%) !important;
    --Cyan-Linear-Hover: linear-gradient(270deg, var(--Cyan) 0%, #54a4ff 100%) !important;

    --Sky: #16b1ff;
    --Sky-Linear: linear-gradient(90deg, var(--Sky) 0%, #3abdff 100%);
    --Sky-Linear-Hover: linear-gradient(270deg, var(--Sky) 30%, #3abdff 100%);

    --Teal: #2ed8b6;
    --Teal-Linear: linear-gradient(90deg, var(--Teal) 0%, #14b8a6 100%);
    --Teal-Linear-Hover: linear-gradient(270deg, var(--Teal) 30%, #14b8a6 100%);

    --Green: #56ca00;
    --Green-Linear: linear-gradient(90deg, var(--Green) 0%, #22c55e 100%);
    --Green-Linear-Hover: linear-gradient(270deg, var(--Green) 30%, #22c55e 100%);

    --Emerald: #059669;
    --Emerald-Linear: linear-gradient(90deg, var(--Emerald) 0%, #10b981 100%);
    --Emerald-Linear-Hover: linear-gradient(270deg, var(--Emerald) 30%, #10b981 100%);

    --Orange: #ea580c;
    --Orange-Linear: linear-gradient(90deg, var(--Orange) 0%, #f97316 100%);
    --Orange-Linear-Hover: linear-gradient(270deg, var(--Orange) 30%, #f97316 100%);

    --Yellow: #FFB64D;
    --Yellow-Linear: linear-gradient(90deg, var(--Yellow) 0%, #ffbf64 100%);
    --Yellow-Linear-Hover: linear-gradient(270deg, var(--Yellow) 30%, #ffbf64 100%);

    --Rose: #e11d48;
    --Rose-Linear: linear-gradient(90deg, var(--Rose) 0%, #FF5370 100%);
    --Rose-Linear-Hover: linear-gradient(270deg, var(--Rose) 30%, #FF5370 100%);

    --Gray: #b0b0b03d;
    --Gray-Linear: linear-gradient(90deg, var(--Gray) 0%, #b6b6b63d 100%);
    --Gray-Linear-Hover: linear-gradient(270deg, var(--Gray) 30%, #b6b6b63d 100%);

    --Slate: #75757583;
    --Slate-Linear: linear-gradient(90deg, var(--Slate) 0%, #75757563 100%);
    --Slate-Linear-Hover: linear-gradient(270deg, var(--Slate) 30%, #75757563 100%);

    --White: #f3f3f3;
    --Black: #000;
    --FFF: #fff;
    --Secondary: #4b4b4b;
    --bg-bar: #d9d9d9;
    --CCC: #ccc;
    --tr-bg: #b0b0b03d;
    --border-color: #bababa;
    --border: 1px solid var(--border-color);
    --valueShadow: 0 0.1rem 0.25rem;
    --box-shadow: 0 0.25rem 0.5rem rgba(58, 53, 65, 0.1);
}

html::-webkit-scrollbar {
    width: 0.3rem;
    direction: ltr;
    display: none;
}

html::-webkit-scrollbar-thumb {
    background: var(--Cyan);
    border-radius: 5rem;
}

.UnitsParent::-webkit-scrollbar,
.Notificat-items::-webkit-scrollbar,
.wrapper-items::-webkit-scrollbar,
.SelectItmes::-webkit-scrollbar,
.Form::-webkit-scrollbar,
.Table-Container::-webkit-scrollbar {
    width: 0.3rem;
    height: 0.3rem;
}

.UnitsParent::-webkit-scrollbar-thumb,
.Notificat-items::-webkit-scrollbar-thumb,
.wrapper-items::-webkit-scrollbar-thumb,
.SelectItmes::-webkit-scrollbar-thumb,
.Form::-webkit-scrollbar-thumb,
.Table-Container::-webkit-scrollbar-thumb {
    background: var(--Cyan);
    border-radius: 5rem;
    cursor: pointer;
}

/* ********* Start Layout-body ********* */
.Layout-body.Dark {
    --White: #18191A;
    --Black: #f4f5fa;
    --Gray: rgba(58, 53, 65, 0.38);
    --Secondary: #a8a9aa;
    --CCC: rgba(58, 53, 65, 0.38);
    --bg-bar: rgba(58, 53, 65, 0.38);
    --tr-bg: rgba(68, 66, 70, 0.38);
    --border-color: #444;
    --border: 1px solid var(--border-color);
    --valueShadow: 0 0.05rem 0.05rem;
}

.Layout-body {
    display: flex;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    direction: rtl;
}

/* ********* End  Layout-body********* */
/* ********* Start Layout-Menu ********* */
.Layout-Menu {
    width: 60px;
    min-height: 100vh;
    border-left: var(--border);
    background: var(--White);
    transition: 0.3s;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 101;
    box-shadow: var(--box-shadow);
}

.Layout-Menu:hover,
.Layout-body.active .Layout-Menu {
    width: 250px;
}

.layout-logo {
    height: 70px;
    padding: 0 15px;
    direction: ltr;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.layout-logo img {
    width: 35px;
    margin-left: auto;
}

.layout-logo .logo-text {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
    color: var(--Black);
    font-size: 22px;
    font-weight: 700;
    margin-right: auto;
    margin-left: 10px;
    letter-spacing: 0.4px;
    opacity: 0;
    pointer-events: none;
}

.Layout-Menu .cancel-icon {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 5px;
    display: none;
    color: var(--Black);
}

.Layout-Menu .wrapper-items {
    height: calc(100vh - 70px);
    padding: 10px 0;
    overflow-y: scroll;
    overflow-x: hidden;
}

.Layout-body.active .Layout-Menu .wrapper-items {
    padding: 10px 0px 50px 12px;
}

.tools .tools-menu .menu-item a,
.Layout-Menu .menu-item a {
    text-decoration: none;
    color: var(--Black);
    display: flex;
    font-size: 18px;
    font-weight: 500;
    padding: 5px 15px 5px 5px;
    align-items: center;
    border-radius: 25px 0 0 25px;
    margin: 5px 0;
    line-height: 10px;
    cursor: pointer;
}

.Layout-Menu:hover .menu-item a,
.Layout-body.active .Layout-Menu .menu-item a {
    padding: 5px 10px 5px 22px;
}

.menu-item.active a {
    background: var(--Blue-Linear) !important;
    color: var(--FFF) !important;
}


.tools .tools-menu .menu-item a:hover,
.Layout-Menu a:hover {
    background: var(--Gray);
}

.icon,
.Details-Company .AddressCompany i,
.Details-Company .PhoneCompany i,
.Layout-Menu .menu-item a .icon {
    width: 35px;
    height: 35px;
    margin-left: 10px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
}

.icon,
.Layout-Menu:hover .menu-item a .icon,
.Layout-body.active .Layout-Menu .menu-item a .icon {
    background: var(--Gray);
}

.arrow-toggle {
    margin-right: auto;
    font-size: 22px;
    transition: 0.5s;
    opacity: 0;
}

.menu-item.open .arrow-toggle {
    transform: rotate(-180deg);
}



.sub-menu {
    display: none;
}

.Layout-body .Layout-Menu .sub-menu .menu-item a {
    padding: 5px 25px 5px 22px;
}

.Layout-body .Layout-Menu .sub-menu .menu-item:first-child a {
    margin: 0;
}

.Layout-body .Layout-Menu .sub-menu .menu-item a .icon {
    background: none;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

.Layout-Menu .menu-item a .item-title,
.Layout-Menu .sub-menu .menu-item a .item-title {
    opacity: 0;
    white-space: nowrap;
}

.Layout-body.active .logo-text,
.Layout-body .Layout-Menu:hover .logo-text,
.Layout-body.active .arrow-toggle,
.Layout-body .Layout-Menu:hover .arrow-toggle,
.Layout-body.active .Layout-Menu .menu-item a .item-title,
.Layout-body .Layout-Menu:hover .menu-item a .item-title {
    opacity: 1;
}

/* ********* End  Layout-Menu ********* */
/* ********* Start Layout-Header ********* */
.Layout-Header {
    width: calc(100% - 60px);
    margin-right: 60px;
    height: 50px;
    background: var(--White);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    transition: 0.3s;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    border-bottom: var(--border);
    box-shadow: var(--box-shadow);
}

.Layout-Header .menu-toggle {
    font-size: 25px;
    color: var(--Black);
    cursor: pointer;
}

.Layout-Header .tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Black);
}

.Layout-Header .tools .icon {
    font-size: 20px;
    cursor: pointer;
}

.Layout-Header .tools img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}

.Layout-Header .tools .UserTools img {
    border: 2px solid var(--Teal);
}

.Layout-Header .tools .Notifications,
.Layout-Header .tools .UserTools {
    display: flex;
    justify-content: center;
    position: relative;
    border-radius: 50%;
}

/* العلامة الخطره اللي علي الصورة */
.Layout-Header .tools .num-not,
.Layout-Header .tools .UserTools::before {
    content: '';
    width: 8px;
    height: 8px;
    background: var(--Teal);
    border: 1.5px solid var(--White);
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 90;
    border-radius: 50%;
}

.Layout-Header .tools .num-not {
    padding: 9px;
    font-size: 12px;
    color: var(--FFF);
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--Rose);
    top: -5px !important;
    right: -5px;
}

.Layout-Header .tools .Notificat-body,
.Layout-Header .tools .UserPage {
    width: 220px;
    background: var(--White);
    border: var(--border);
    box-shadow: var(--box-shadow);
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: 52px;
    left: -10px;
    cursor: default;
    display: none;
}

/* العناصر */
.Layout-Header .tools .Notificat-body .item,
.Layout-Header .tools .UserPage .PageItem {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 5px 0;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: var(--Black);
    position: relative;
    overflow: hidden;
}

/* العناصر هوفر */
.Layout-Header .tools .Notificat-body .item:hover,
.Layout-Header .tools .UserPage .PageItem:hover {
    background: var(--Gray);
}

.Layout-Header .tools .Notificat-body .item.UnRead {
    background: var(--Green-Linear) !important;
}

.Layout-Header .tools .Notificat-body .item.UnRead:hover {
    background: var(--Green-Linear-Hover) !important;
}

.Layout-Header .tools .Notificat-body .item.UnRead p {
    color: var(--Black) !important;
}

.Layout-Header .tools .UserPage .PageItem .bxs-left-arrow {
    margin-right: auto;
}

/* التغييرات */
.Layout-Header .tools .Notificat-body {
    width: 400px;
    padding: 15px;
    padding-left: 0;
    left: 0px;
}

.Layout-Header .tools .Notificat-items {
    width: 100%;
    height: 350px;
    padding-left: 10px;
    overflow-y: auto;
}

.Layout-Header .tools .Notificat-body .item {
    border: var(--border);
}


.Layout-Header .tools .Notificat-body .item .right {
    position: relative;
    margin-left: 13px;
}

.Layout-Header .tools .Notificat-body .item .right div,
.Layout-Header .tools .Notificat-body .item .right div img {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}

.Layout-Header .tools .Notificat-body .item .right div.Logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--Gray);
}

.Layout-Header .tools .Notificat-body .item .right div.Logo img {
    width: 38px !important;
    height: auto !important;
    border-radius: 0;
}

.Layout-Header .tools .Notificat-body .item .right i {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: -3px;
    left: -3px;
}

.Layout-Header .tools .Notificat-body .item .right .bx-plus,
.Layout-Header .tools .Notificat-body .item .right .bx-user-plus {
    background: var(--Primary);
}

.Layout-Header .tools .Notificat-body .item .right .bx-trash {
    background: var(--Rose);
}

.Layout-Header .tools .Notificat-body .item .right .bx-pencil {
    background: var(--Teal);
}

.Layout-Header .tools .Notificat-body .item .right .bx-check {
    background: var(--Green);
    font-size: 20px;
    font-weight: 700;
}

.Layout-Header .tools .Notificat-body .item .right .bx-envelope,
.Layout-Header .tools .Notificat-body .item .right .bx-calendar,
.Layout-Header .tools .Notificat-body .item .right .bx-history {
    background: var(--Yellow);
}

.Layout-Header .tools .Notificat-body .item .left {
    width: 100%;
}

.Layout-Header .tools .Notificat-body .item .left div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
}

.Layout-Header .tools .Notificat-body .item .left div .MODERN {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif !important;
}


.Layout-Header .tools .Notificat-body .item .left p {
    margin-top: 10px;
    font-size: 16px;
}

.Layout-Header .tools .Notificat-body .item .left span {
    font-size: 13px;
    font-weight: 600;
    gap: 5px;
}

.Layout-Header .tools .Notificat-body .item .left span i {
    font-size: 15px;
}

.NoNotifications {
    text-align: center;
}

.NoNotifications img {
    width: 200px !important;
    height: 200px !important;
    margin: 20px 0;
}

/* ********* End  Layout-Header ********* */
/* ********* Start Laypout Container  ********* */
.Layout-Container {
    width: calc(100% - 60px);
    margin-right: 60px;
    min-height: 100vh;
    background: var(--White);
    padding: 60px 20px 20px 20px;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.Layout-body.active .Layout-Header,
.Layout-body.active .Layout-Container {
    width: calc(100% - 250px);
    margin-right: 250px;
}

/* ********* End  Laypout Container  ********* */
/* ********* Start  Receipt-Container  ********* */

.Receipt-Container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(33, 22, 46, 0.5), rgba(29, 1, 105, 0.24));
}

.Receipt-Container .Layout-Container {
    width: 800px;
    height: 100vh;
    overflow: auto;
    margin: 0;
    padding: 20px;
}

.Receipt-Container .Layout-Container .btns {
    position: fixed;
    bottom: 20px;
    right: 10%;
    z-index: 10;
}

.Receipt-Container .Layout-Container .btns .btn {
    border-radius: 50%;
    margin: 10px 0;
}

.Receipt-Container .Title-Container {
    margin: 5px 0;
    text-align: center;
    color: var(--Sky) !important;
    font-size: 25px;
}

.Receipt-Container .Person-Details {
    border: none !important;
    /* padding: 0 5px !important; */
    grid-template-columns: 1fr .9fr !important;
}

.Receipt-Container .Person-Details .item h4 {
    width: 100px !important;
}

.Receipt-Container .Layout-Container::-webkit-scrollbar,
.Receipt-Container .Table-Container::-webkit-scrollbar {
    display: none;
}

.Receipt-Container .Details-Total{
    margin-top: 50px;
}

.Receipt-Container .Details-Total .itme {
    width: 30%;
    display: flex;
    font-size: 18px;
    font-weight: 700;
    padding: 6px 10px;
    border: var(--border);
    border-radius: 5px;
    margin-top: 7px;
    margin-right: auto;
}

.Receipt-Container .Details-Total .itme span {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.Receipt-Container .Details-Total .itme span::after {
    content: ":";
}


/* ********* End  Receipt-Container  ********* */
/* ********* Start tooltip ********* */
.tooltip {
    min-width: 150px;
    min-height: 25px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
    color: var(--Black);
    background: var(--White);
    border: var(--border);
    box-shadow: var(--box-shadow);
    position: absolute;
    top: -45px;
    left: 0;
    display: none;
    z-index: 10;
    pointer-events: none;
}

/* تنسيقات السهم العمومية مشتركة */
.tooltip::after,
.arrow::after {
    content: '';
    transform: rotate(45deg);
    position: absolute;
    width: 10px;
    height: 10px;
    background: var(--White);
    border-style: solid;
    border-width: 1px;
    pointer-events: none;
}

/* جعل السهم اسفل اليسار */
.tooltip::after {
    bottom: -6px;
    left: 20px;
    border-color: transparent var(--border-color) var(--border-color) transparent;
}

/* جعل السهم اعلي اليسار */
.arr-top-left {
    top: 50px !important;
    left: 0 !important;
}

.arr-top-left::after {
    top: -6px;
    left: 20px;
    border-color: var(--border-color) transparent transparent var(--border-color);
}

/* جعل السهم اعلي يمين */
.arr-top-right {
    top: 50px !important;
    right: 0 !important;
}

.arr-top-right::after {
    top: -6px;
    right: 20px;
    border-color: var(--border-color) transparent transparent var(--border-color);
}

/* جعل السهم ناحية اليمين */
.arr-right-center {
    top: 0px !important;
    right: 40px !important;
}

.arr-right-center::after {
    top: 30%;
    right: -6px;
    border-color: var(--border-color) var(--border-color) transparent transparent;
}

/* جعل السهم ناحية اليسار */

.arr-left-center {
    top: 0px !important;
    left: 40px !important;
}

.arr-left-center::after {
    top: 30%;
    left: -6px;
    border-color: transparent transparent var(--border-color) var(--border-color);
}

/* show tooltip when hover on element or focus input*/
.card-item:hover .tooltip,
input:focus~.tooltip,
select:focus~.tooltip,
.Filter-box:hover .tooltip,
.btn-box:hover .tooltip {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ********* End  tooltip  ********* */
/* ********* Start card-item  ********* */

.card-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-size: 15px;
    color: var(--Black);
}

/* card itme */
.card-item .left {
    margin-right: auto;
    margin-left: 10px;
    text-align: end;
}

.card-item h3 {
    color: var(--Black);
}

.card-item p {
    color: var(--Secondary);
}

.item-icon {
    min-width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: 500;
    margin-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px;
    cursor: default;
    color: var(--Cyan);
    background: var(--Gray-Linear);
    box-shadow: var(--valueShadow) var(--Gray);
}

.item-icon:hover {
    opacity: 0.7;
}

.Primary .left .line-graph::after,
.Primary .item-icon {
    color: #fff;
    background: var(--Primary-Linear);
    box-shadow: var(--valueShadow) var(--Primary);
}

.Teal .left .line-graph::after,
.Teal .item-icon {
    color: #fff;
    background: var(--Teal-Linear);
    box-shadow: var(--valueShadow) var(--Teal);
}

.Yellow .item-icon {
    color: #fff;
    background: var(--Yellow-Linear);
    box-shadow: var(--valueShadow) var(--Yellow);
}

.Orange .item-icon {
    color: #fff;
    background: var(--Orange-Linear);
    box-shadow: var(--valueShadow) var(--Orange);
}

.Green .item-icon {
    color: #fff;
    background: var(--Green-Linear);
    box-shadow: var(--valueShadow) var(--Green);
}

.Emerald .item-icon {
    color: #fff;
    background: var(--Emerald-Linear);
    box-shadow: var(--valueShadow) var(--Emerald);
}

.Blue .left .line-graph::after,
.Blue .item-icon {
    color: #fff;
    background: var(--Cyan-Linear);
    box-shadow: var(--valueShadow) var(--Cyan);
}

.Sky .left .line-graph::after,
.Sky .item-icon {
    color: #fff;
    background: var(--Sky-Linear);
    box-shadow: var(--valueShadow) var(--Sky);
}

.Collect .left h3,
.Collect .item-icon {
    color: var(--Teal) !important;
}

.Payment .left h3,
.Payment .item-icon {
    color: var(--Rose) !important;
}

/* ********* End  card-item   ********* */
/* ********* Start  Row   ********* */
.Row {
    display: grid;
    gap: 10px;
}

.grid-2 {
    grid-template-columns: repeat(2, 1fr) !important;
}

.grid-2A {
    grid-template-columns: 3fr 6fr;
}

.grid-2B {
    grid-template-columns: 6fr 3fr;
}

.grid-2C {
    grid-template-columns: 7fr 2fr;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.grid-3A {
    grid-template-columns: 2fr 1fr 1fr;
}

.grid-4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid-7 {
    /* display: flex; */
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr;
    align-items: center;
}

.grid-7 .btn {
    width: 35px;
}

/* ********* End  Row  ********* */
/* ********* Start line ********* */

.line {
    display: flex;
    align-items: center;
}

.Layout-Menu .line {
    justify-content: center;
}

.line div {
    margin: 0 0.2rem;
}

.line div:nth-child(1),
.line div:nth-child(3) {
    height: 3px;
    width: 50%;
    background: var(--Cyan);
    border-radius: 5px;
}

.Layout-Menu .line div:nth-child(1),
.Layout-Menu .line div:nth-child(3) {
    width: 70px;
}

.line div:nth-child(2) {
    width: 10px;
    height: 10px;
    background: var(--Cyan);
    border-radius: 50%;
}

/* ********* End line ********* */
/* ********* Start img ********* */

img {
    pointer-events: none !important;
}

.UserTools:hover {
    cursor: pointer;
}

/* ********* End img ********* */
/* ********* Start Loader ********* */

.Loader {
    width: calc(100% - 250px);
    margin-right: 250px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--White);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.Loader::before {
    content: '';
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: none;
    border: 8px solid transparent;
    border-top-color: var(--Primary);
    animation: Loader 0.8s ease infinite;
}

@keyframes Loader {
    0% {
        transform: rotate(0turn);
    }

    100% {
        transform: rotate(1turn);
    }
}

/* ********* End Loader ********* */
/* ********* Start @media End File ********* */
@media (max-width: 1200px) {
    .Layout-Menu {
        width: 250px;
        min-height: 100vh;
    }

    .Layout-body.active .Layout-Menu {
        width: 0px;
    }

    .Layout-Header .tools .Notificat-items {
        padding-left: 2px;
    }

    .Layout-Header .tools .Notificat-body {
        width: 300px;
        padding: 10px 5px;
    }

    .Layout-Menu .wrapper-items .menu-item a .icon {
        background: var(--Gray);
    }

    .Layout-Menu .wrapper-items .menu-item a {
        padding: 5px 10px 5px 22px;
    }

    .Layout-Header,
    .Layout-Container {
        width: calc(100% - 0px);
        margin-right: 0px;
    }

    .Layout-Container {
        padding: 60px 10px 20px 10px;
    }

    .Layout-body.active .Loader,
    .Layout-body.active .Layout-Header,
    .Layout-body.active .Layout-Container {
        width: calc(100% - 0px);
        margin-right: 0px;
    }

    .Layout-Menu .cancel-icon {
        display: table;
    }

    .Layout-body .logo-text,
    .Layout-body .arrow-toggle,
    .Layout-body .Layout-Menu .menu-item a .item-title {
        opacity: 1;
    }

    .grid-2,
    .grid-2A,
    .grid-2B,
    .grid-2C,
    .grid-3,
    .grid-3A {
        grid-template-columns: repeat(1, 1fr) !important;
    }

    .grid-4 {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .grid-7 {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .Loader::before {
        width: 50px;
        height: 50px;
    }
}